*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --animate-speed: 3.1s;
    --animate-speed1: 2.7s;
}
body {
    background: black;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.icons {
    font-size: 1.4rem;
    
}
.fa {
    background: none;
    text-decoration: none;
    color: #fff;
}
.fa:hover {
    color:#db2639 ;
    transform: scale(1.2);
}
.oli {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;  
    transform: translatey(2200px);
    animation: oli var(--animate-speed) forwards ease-in-out;
    z-index: 1;
}
@keyframes oli {
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes text {
    to {
      transform: translateX(0);
    }
  }
.about {
    color: white;
    font-family: cursive;
    font-size: 2rem;
    transform: translatex(1200px);
    animation: oli var(--animate-speed) forwards ease-in-out;
}



@keyframes about {
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes about {
    to {
      transform: translateX(0);
    }
  }
.rt-slide { 
    transform: translatey(-5500px);
    animation: slide var(--animate-speed1) forwards ease-out;
}
@keyframes slide {
    to {
      transform: translatex(0);
    }
    
}
  
  @keyframes slide {
    to {
      transform: translatey(0);
    }
  }
.blog {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;  
    transform:translatey(1200px) translatex(-1100px) ;
    animation: oli var(--animate-speed) forwards ease-in-out;
}

@keyframes blog {
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes text {
    to {
      transform: translateX(0);
    }
  }
.abt {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;  
    transform: translatey(1200px);
    animation: abt var(--animate-speed) forwards ease-in-out;
}

@keyframes abt {
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes abt {
    to {
      transform: translateX(0);
    }
  }
.btn{
    align-self: center;
    text-decoration: none;
    max-width: 100%;
    color:#db2639;
    background: #333;
    border-radius: 50%;
    border: 1px solid #333;
    font-family: 'Kaushan Script', cursive; 
    font-size: 1rem;
    text-align: center;
    padding: .8em .8em; 
    margin: 0 .5em; 
}
.buttons {
    display: flex;
    padding: .5em ;
    
}
.btn:hover {
    color: #db2639;
    background: black;
    box-shadow: #db2639 0 0 20px;
    font-family: 'Kaushan Script', cursive;
}

span {
    color: #db2639;
    font-size: 4rem;
}



/* .image-container {
    display: flex;
    flex-wrap: wrap;
 

}
.image-container img{
    max-width: 400px;
    padding: 1.2em;
} */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;

}        
.flip-card {
align-items: center;
margin: 4em 0;
background-color: transparent;
width: 400px;
height: 300px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 1.0s;
transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
background-color: #bbb;
color: black;
}

/* Style the back side */
.flip-card-back {
background-color: #db2639;
color: white;
transform: rotateY(180deg) ;
box-shadow:pink 0 0 2em ;
}
.flip-card-back h1 {
    padding: .5em;
    font-family: 'Kaushan Script', cursive;
}
.flip-card-back p {
    padding: .5em;
    font-family: 'Kaushan Script', cursive;
}
.flip-card-back a {
    color: #fff;
    font-size: 1.2rem;
}
.flip-card-back a:hover {
    color: black;
}
footer {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: royalblue;
    font-size: 1.1rem;
    margin-bottom: 1.1em;
}
.about {
    font-size: 1em;
    margin: 2em .5em;
    line-height: 1.8em;
    max-width: 100vw;
}
.about img {
    float: left;
    padding: 2em;
    border-radius: 50%;
    box-shadow: #db2639 1em 1em 5em;
    margin: 1em 1em;
}
.about p {
    margin: 1em 2em;
    padding: 0 2em;
    text-align:left;
}
